@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.home-grid {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .home-grid {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
